/**
 * Header
 */
.sassdoc__header {
  padding: 1em;
  background: $pink;
  color: white;
  margin-bottom: 2em;
  border-bottom: 0.5em solid #f2d9e6;
}

/**
 * Main title
 */
.sassdoc__title {
  font-size: 1.3em;
  margin: 0;
  float: left;
  
  @include r(small) {
    float: none;
    text-align: center;
    margin-bottom: .5em;
  }
}

.sassdoc__searchbar {
  float: right;
}